﻿body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
form {
    border: 3px solid #f1f1f1;
    min-width: 500px;
    margin: auto;
}
h2 {
    text-align: center;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.email-btn {
    background-color: #04AA6D;
    color: white!important;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover, .email-btn:hover {
    opacity: 0.8;
}