body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    border: 3px solid #f1f1f1;
    max-width: 500px;
    margin: auto;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.email-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-btn {
    background-color: #04AA6D;
    color: white !important;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

button:hover, .login-btn:hover {
    opacity: 0.8;
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.menu-item a, .menu-item a:hover {
    color: white !important;
}

.menu {
    max-width: 200px;
    height: 500px;
    border-radius: 20px;
}

.content {
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 1px 10px #dfdfdf;
}

.add {
    border-radius: 5px;
}

.login-btn a, .login-btn a:hover {
    color: white !important;
    padding: 0;
}
.form-control {
    height: 50px;
    margin: 8px 0;
}