﻿@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CallCenter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container p-0">
        <nav class="navbar navbar-expand-sm bg-black navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Trang Chủ</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                       aria-expanded="false">
                       <label class="text-white">@Context.Session.GetString("username")</label>
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
                             width="40" height="40" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("ChangePassword", "Home")"><i class="bi bi-shield-lock-fill p-1"></i>Đổi mật khẩu</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Login", "Home")"><i class="bi bi-box-arrow-right p-1"></i>Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container d-flex mt-3 bg-light">
        <div class="w-25">
            <nav class="navbar container-fluid bg-light justify-content-between">
                <div class="w-100">
                    <ul class="navbar-nav  bg-light">
                        <li class="nav-item mt-3 bg-black p-1 rounded ">
                            <a class="nav-link text-white" href="#">Quản trị người dùng</a>
                        </li>
                        <li class="nav-item mt-3 bg-black p-1 rounded">
                            <a class="nav-link text-white" href="#">Quản trị trẻ em</a>
                        </li>
                        <li class="nav-item mt-3 bg-black p-1 rounded">
                            <a class="nav-link text-white" href="#">Quản trị hồ sơ</a>
                        </li>
                        <li class="nav-item mt-3 bg-black p-1 rounded">
                            <a class="nav-link text-white" href="#">Báo cáo</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="w-100 mx-4 bg-light p-4 border border-light">
            @RenderBody()
        </div>
    </div>
    @*<footer class="border-top footer text-muted justify-content-between col-12 position-absolute bottom-0">
        <div class="container col-8">
            &copy; 2022 - CallCenter.CallCenter - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
