﻿@using ViewModel.Profiles
@model IEnumerable<ProfileVM>

@{ Layout = "/Views/Shared/_Default.cshtml";
    var i = 0;
    var j = 0;
    var numberPage = ViewBag.numberPage;
    var pageCurrent = ViewBag.pageCurrent; }
<div class="fs-4 fw-bold text-center">Danh sách thông tin hồ sơ</div>
<div class="w-100 my-4 d-flex justify-content-between">
    <div>
        @*<input type="text" class="form-control w-25" >*@
        <button type="button" class="btn btn-primary province" id="addProfile" data-bs-toggle="modal" data-bs-target="#AddProfile">Thêm hồ sơ</button>
    </div>
    <div class="input-group w-50">
        <form class="d-flex w-100">
            <input type="text" class="form-control w-70" placeholder="Nhập từ khóa tại đây ..." name="searchKey" id="searchKey" value="@ViewData["SearchKey"]">
            <button type="submit" class="input-group-text w-30">Tìm kiếm</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Nội dung vấn đề</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Địa chỉ</th>
            @*<th scope="col" class="text-center">Tạo bởi</th>
            <th scope="col" class="text-center">Thời gian tạo</th>
            <th scope="col" class="text-center">Sửa bởi</th>
            <th scope="col" class="text-center">Thời gian sửa</th>*@
            <th scope="col" colspan="2" class="text-center">Thao tác</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var profile in Model)
        {
            j++;
            int limit = int.Parse(@ViewData["Limit"].ToString());
            i = (pageCurrent - 1) * limit + j;
        <tr>
            <th scope="row">@i</th>
            <td>@profile.PhoneNumber</td>
            <td>@profile.ProblemContents</td>
            <td>@profile.Status</td>
            <td>@profile.ProvinceId - @profile.DistrictId - @profile.WardsId</td>
            @*<td>@profile.CreateBy</td>
            <td class="text-center">@profile.CreateTime.ToShortDateString() </td>
            <td>@profile.UpdateBy</td>
            <td class="text-center">
                @if (profile.UpdateTime != null)
                {
                    @profile.UpdateTime.ToString().Substring(0, 10);
                }
            </td>*@
            <td><button type="button" class="btn btn-warning update province" id="@profile.ProfileId" data-bs-toggle="modal" data-bs-target="#AddProfile">Sửa</button></td>
            <td><button type="button" class="btn btn-danger delete" id="@profile.ProfileId ">Xóa</button></td>
        </tr>}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{ if (pageCurrent <= 1)
            {
<li class="page-item disabled">
    <a class="page-link">Previous</a>
</li>
 }
else
{
i = pageCurrent - 1;
<li class="page-item">
    <a class="page-link" href="/Profile/Index?page=@i&limit=@ViewData["Limit"]&searchkey=@ViewData["SearchKey"]">Previous</a>
</li>
 }


for (i = 1; i <= numberPage; i++)
{
<li class="page-item"><a class="page-link" href="/Profile/Index?page=@i&limit=@ViewData["Limit"]&searchkey=@ViewData["SearchKey"]">@i</a></li>
 }


if (pageCurrent >= numberPage)
{
<li class="page-item disabled">
    <a class="page-link">Next</a>
</li>
 }
else
{
i = pageCurrent + 1;
<li class="page-item">
    <a class="page-link" href="/Profile/Index?page=@i&limit=@ViewData["Limit"]&searchkey=@ViewData["SearchKey"]">Next</a>
</li>
 } }
    </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="AddProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-around w-100" >
                    <div>
                        <h5 class="modal-title" id="exampleModalLabel">Trẻ em</h5>
                    </div>
                    <div>
                        <h5 class="modal-title" id="exampleModalLabel">Hồ Sơ</h5>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="d-flex">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="ChildrenName" class="form-label">Họ&amp;tên Trẻ:</label>
                        <input type="text" class="form-control" id="ChildrenName" name="ChildrenName" placeholder="Nhập họ và tên của trẻ">
                    </div>
                    <div class="mb-3">
                        <label for="Age" class="form-label">Tuổi của trẻ:</label>
                        <input type="text" class="form-control" id="Age" name="Age" placeholder="Nhập tuổi của trẻ">
                    </div>
                    <div class="mb-3">
                        <label for="Gender" class="form-label">Giới tính:</label>
                        <select name="Gender" id="Gender" class="form-control">
                            <option selected value="true">Nam</option>
                            <option value="false">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="PhoneNumber" class="form-label">Số điện thoại:</label>
                        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="mb-3">
                        <label for="ProblemContents" class="form-label">Nội dung vấn đề:</label>
                        <textarea class="form-control" id="ProblemContent" rows="5" aria-label="With textarea"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="Status" class="form-label">Trạng thái:</label>
                        <select name="Status" id="Status" class="form-control">
                            <option selected value="Đang mở">Đang mở</option>
                            <option value="Đang xử lý">Đang xử lý</option>
                            <option value="Đã xử lý">Đã xử lý</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Province" class="form-label">Tỉnh:</label>
                        <select name="Province" id="Province" class="form-control">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="District" class="form-label">Huyện:</label>
                        <select name="District" id="District" disabled class="form-control">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Wards" class="form-label">Xã:</label>
                        <select name="Wards" id="Wards" disabled class="form-control">
                        </select>
                    </div>
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button id="add" type="button" name="" class="btn btn-primary" data-bs-dismiss="modal">Lưu Lại</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".province").click(function () {
            const ApiGetProvince = "http://localhost:58165/api/Province/GetProvinces"
            $.ajax({
                url: ApiGetProvince,
                method: "GET",
                contentType: "application/json",
                success: function (Provinces) {
                    console.log(Provinces);
                    $("#Province").empty();
                    $("#Province").append("<option selected>Chọn Tỉnh</option>")
                    $("#District").empty();
                    $("#District").append("<option selected>Chọn Huyện</option>")
                    $("#Wards").empty();
                    $("#Wards").append("<option selected>Chọn Xã</option>")
                    for (let i in Provinces) {
                        $("#Province").append(
                            `<option value="${Provinces[i].provinceId}">${Provinces[i].provinceName}</option>`
                        );
                    }
                }

            });
        });
        $("#Province").change(function () {
            var provinceId = $(this).val();
            const ApiDistrict = "http://localhost:58165/api/District/GetDistrictsByProvinceId?ProvinceId=" + provinceId;
            $.ajax({
                url: ApiDistrict,
                method: "GET",
                contentType: "application/json",
                success: function (Districts) {
                    $("#District").removeAttr("disabled");
                    $("#District").empty();
                    $("#District").append("<option selected>Chọn Huyện</option>")
                    for (let i in Districts) {
                        $("#District").append(
                            `<option value="${Districts[i].districtId}">${Districts[i].districtName}</option>`
                        );
                    }
                }
            });
        });
        $("#District").change(function () {
            var districtId = $(this).val();
            const ApiWards = "http://localhost:58165/api/Wards/GetWardsByDistrictId?DistrictId=" + districtId;
            $.ajax({
                url: ApiWards,
                method: "GET",
                contentType: "application/json",
                success: function (Wards) {
                    $("#Wards").removeAttr("disabled");
                    $("#Wards").empty();
                    $("#Wards").append("<option selected>Chọn Xã</option>")
                    for (let i in Wards) {
                        $("#Wards").append(
                            `<option value="${Wards[i].wardsId}">${Wards[i].wardsName}</option>`
                        );
                    }
                }
            });
        });
        $(".update").click(function () {
            const ApiChildrenGetById = "http://localhost:58165/api/Profile/GetProfileById?id=" + this.id;
            console.log(ApiChildrenGetById);
            var id = this.id;
            $.ajax({
                url: ApiChildrenGetById,
                method: "GET",
                contentType: "application/json",
                success: function (children) {
                    console.log(children);
                    $("#ChildrenName").val(children.childrenName);
                    console.log("#Gender [value='" + children.gender + "']");
                    $("#Age").val(children.age);
                    $("#Gender > option").removeAttr("selected");
                    $("#Gender [value='" + children.gender + "']").attr("selected", "selected");
                    $("#save").attr("name", id);
                }
            });
        });

        $("#add").click(function () {
            const ApiAddChildren = "http://localhost:58165/api/Children/AddChildren";
            var name = $("#ChildrenName").val();
            var age = parseInt($("#Age").val());
            var gender = JSON.parse($("#Gender").val());
            var CreateChildren = { "ChildrenName": name, "Age": age, "Gender": gender, "CreateBy": 1 };
            console.log(CreateChildren);
            $.ajax({
                type: "POST",
                url: ApiAddChildren,
                data: JSON.stringify(CreateChildren),
                dataType: 'json',
                contentType: "application/json",
                success: function () {
                }
            });
            const ApiGetChildrenNew = "http://localhost:58165/api/Children/GetChildrenNew";
            $.ajax({
                type: "Get",
                url: ApiGetChildrenNew,
                dataType: 'json',
                contentType: "application/json",
                success: function (ChildrenNew) {
                    const ApiAddProfile = "http://localhost:58165/api/Profile/AddProfile"
                    var phoneNumber = $("#PhoneNumber").val();
                    var problemContent = $("#ProblemContent").val();
                    var status = $("#Status").val();
                    var createBy = 1;
                    var childrenId = parseInt(ChildrenNew.childrenId) + 1;
                    var provinceId = parseInt($("#Province").val());
                    var districtId = parseInt($("#District").val());
                    var wardsId = parseInt($("#Wards").val());
                    var CreateProfile = { "PhoneNumber": phoneNumber, "ProblemContent": problemContent, "Status": status, "CreateBy": createBy, "ChildrenId": childrenId, "ProvinceId": provinceId, "DistrictId": districtId, "WardsId": wardsId };
                    console.log(CreateProfile);
                    $.ajax({
                        type: "POST",
                        url: ApiAddProfile,
                        data: JSON.stringify(CreateProfile),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function () {
                            window.location.reload();
                        }
                    })
                    
                }
            });
        });

        $(".delete").click(function () {
            var id = this.id;
            const ApiChildrenDelete = "http://localhost:58165/api/Children/DeleteChildren?id=" + id;
            //var ChildrenNew = { "ChildrenId": id, "ChildrenName": name, "Age": age, "Gender": true, "UpdateBy": 1 };
            if (confirm("Bạn có chắc chắn muốn xóa !!!")) {
                $.ajax({
                    type: "Delete",
                    url: ApiChildrenDelete,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function () {
                        window.location.reload();
                    }
                });
            }
        });
    });
</script>

