﻿@model Database.Model.Profile

@{
    ViewData["Title"] = "UpdateProfile";
    Layout = "/Views/Shared/_Default.cshtml";
}

<h2>Chỉnh sửa hồ sơ</h2>

<div class="row">
    <div class="tt col-4">
        <div>
            <label for="selt1" id="option">Số điện thoại:</label>
            <input class="form-control" type="text" value="@Model.PhoneNumber" id="phone">
        </div>
        <div>
            <label for="selt1" id="option">Nội dung vấn đề:</label>
            <input class="form-control" type="text" value="@Model.ProblemContents" id="content">
        </div>
        <div>
            <label for="selt1" id="status">Trạng thái:</label>
            <select id="Status" name="@Model.Status" class="form-control">
                <option value="Đang mở">Đang mở</option>
                <option value="Đang xử lý">Đang xử lý</option>
                <option value="Đã xử lý">Đã xử lý</option>
            </select>
        </div>
    </div>
    <div class="tt col-4">
        <div class="form-group">
            <label for="selt1" id="province">Tỉnh - Thành phố:</label>
            <select class="form-control">
                <option>Hà Nội</option>
                <option>Hà Giang</option>
                <option>Bắc Ninh </option>
                <option>Hải Phòng</option>
            </select>
        </div>
        <div>
            <label for="selt1" id="district">Quận - Huyện:</label>
            <select class="form-control">
                <option>Thạch Thất</option>
                <option>Cầu Giấy</option>
                <option>Nam Từ Liêm</option>
                <option>Đống Đa</option>
            </select>
        </div>
        <div>
            <label for="selt1" id="ward">Xã - Phường - Thị trấn:</label>
            <select class="form-control">
                <option>Quan Hoa</option>
                <option>Trung Hòa</option>
                <option>Phú Đô</option>
                <option>Đội Cấn</option>
            </select>
        </div>
    </div>
    <div class="tt col-4">
        <div>
            <label for="selt1" id="name">Họ tên trẻ:</label>
            <input class="form-control" type="text" name="ChildId" id="name">
        </div>
        <div>
            <label for="selt1" id="age">Tuổi:</label>
            <input class="form-control" type="number" name="age" id="age">
        </div>
        <div>
            <label for="selt1" id="gender">Giới tính:</label>
            <select class="form-control">
                <option>Nam</option>
                <option>Nữ</option>
            </select>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-between">
        <a href="#" class="btn btn-success nav-link text-white">Lưu thay đổi</a>
        <a href="@Url.Action("Index","Profile")" class="btn btn-danger nav-link text-white">Hủy</a>
    </div>
</div>

<script>
    $(document).ready(function(){
        var status = $("#Status").attr("name");
        $("#Status [value='"+status+"']").attr("selected","selected");
        console.log(status);
        console.log("#Status [value='"+status+"']");
    });
</script>