﻿@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "/Views/Shared/_Default.cshtml";
}
<div class="content w-100 ms-3 p-3">
    @*<script>
        function Cancel(event){
            event.preventDefault();
            console.log('abc')
        }
    </script>*@

    @ViewBag.error
    <form method="post" asp-controller="home" asp-action="ChangePassword">
        <div class="container">
            <label for="old-psw"><b>Mật khẩu hiện tại:</b></label>
            <input type="text" value="@Context.Session.GetString("username")" hidden readonly name="username">
            <input type="password" placeholder="Nhập mật khẩu hiện tại" name="password" required>

            <label for="new-psw"><b>Mật khẩu mới:</b></label>
            <input type="password" placeholder="Nhập mật khẩu mới" name="newpass" required>

            <label for="conf-new-psw"><b>Xác nhận mật khẩu mới:</b></label>
            <input type="password" placeholder="Xác nhận mật khẩu mới" name="newpassConf" required>
            <div class="d-flex p-2">
                <button class="login-btn m-2" type="submit">Lưu</button>
                <a class="login-btn m-2" href="@Url.Action("Index", "Profile")" >Hủy</a>
            </div>
        </div>
    </form>
</div>
