﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/forgot.css">
</head>
<body>

    <div class="vw-100 vh-100 form-forgot d-flex flex-column justify-content-center align-items-center">
        <form>
            <h2>Quên mật khẩu</h2>

            <div class="=" container">
                <input type="email" placeholder="Nhập địa chỉ email của bạn" name="email" required>
                <div class="d-flex p-2">
                    <button class="email-btn m-2" type="submit">Gửi</button>
                    <a class="email-btn m-2" href="@Url.Action("Login", "Home")" >Hủy</a>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>
</html>