﻿<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="loginForm w-100 vh-100">
        <form asp-controller="home" asp-action="login" method="post">
            <h2>Đăng nhập</h2>
            @ViewBag.error
            <div class="container">
                <input type="text" placeholder="Nhập tên đăng nhập" name="username" required>

                <input type="password" placeholder="Nhập mật khẩu" name="password" required>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Ghi nhớ tài khoản
                </label>
            </div>
            <button class="login-btn" type="submit">Đăng nhập</button>
            <label><a class="nav-link" href="@Url.Action("ForgotPassword", "Home")">Quên mật khẩu?</a></label>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>
