﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="content w-100 ms-3 p-3">
    <form method="post" asp-controller="home" asp-action="ChangePassword">
        <div class="container">
            <label for="new-psw"><b>Mật khẩu mới:</b></label>
            <input type="password" placeholder="Nhập mật khẩu mới" name="newpass" required>

            <label for="conf-new-psw"><b>Xác nhận mật khẩu mới:</b></label>
            <input type="password" placeholder="Xác nhận mật khẩu mới" name="newpassConf" required>

            <div class="d-flex p-2">
                <button class="login-btn m-2" type="submit">Lưu thông tin và đăng nhập</button>
                <a class="login-btn m-2" href="@Url.Action("Index", "Home")" >Hủy</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
