﻿@using ViewModel.Childrens
@model IEnumerable<ChildrenVM>

@{ Layout = "/Views/Shared/_Default.cshtml";
    var i = 0;
    var j = 0;
    var numberPage = ViewBag.numberPage;
    var pageCurrent = ViewBag.pageCurrent; }
<div class="fs-4 fw-bold text-center">Danh sách thông tin trẻ</div>
<div class="w-100 my-4 d-flex justify-content-between">
    <div>
        @*<input type="text" class="form-control w-25" >*@
        
    </div>
    <div class="input-group w-50">
        <form class="d-flex w-100">
            @*<select class="form-select w-50" name="limit" id="limit" value="@ViewData["Limit"]">                      
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>*@
            <input type="text" class="form-control w-70" placeholder="Nhập từ khóa tại đây ..." name="searchKey" id="searchKey" value="@ViewData["SearchKey"]">
            <button type="submit" class="input-group-text w-30">Tìm kiếm</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Họ tên</th>
            <th scope="col" class="text-center">Tuổi</th>
            <th scope="col" class="text-center">Giới tính</th>
            <th scope="col" class="text-center">Tạo bởi</th>
            <th scope="col" class="text-center">Thời gian tạo</th>
            <th scope="col" class="text-center">Sửa bởi</th>
            <th scope="col" class="text-center">Thời gian sửa</th>
            <th scope="col" colspan="2" class="text-center">Thao tác</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var children in Model)
        {
            j++;
            int limit = int.Parse(@ViewData["Limit"].ToString());
            i = (pageCurrent - 1) * limit + j;
<tr>
    <th scope="row">@i</th>
    <td>@children.ChildrenName</td>
    <td>@children.Age</td>
    @if (@children.Gender == true)
    {
<td>Nam</td>
 }
else
{
<td>Nữ</td>
}
    <td>@children.CreateBy</td>
    <td class="text-center">@children.CreateTime.ToShortDateString() </td>
    <td>@children.UpdateBy</td>
    <td class="text-center">
        @if (children.UpdateTime != null)
        {
@children.UpdateTime.ToString().Substring(0, 10);
}
    </td>
    <td><button type="button" class="btn btn-warning update" id="@children.ChildrenId" data-bs-toggle="modal" data-bs-target="#exampleModal">Sửa</button></td>
    <td><button type="button" class="btn btn-danger delete"  id="@children.ChildrenId ">Xóa</button></td>
</tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @{ if (pageCurrent <= 1)
            {
<li class="page-item disabled">
    <a class="page-link">Previous</a>
</li> }
            else
            {
                i = pageCurrent - 1;
<li class="page-item">
    <a class="page-link" href="/Children/Index?page=@i&limit=@ViewData["Limit"]&searchkey=@ViewData["SearchKey"]">Previous</a>
</li> }


            for (i = 1; i <= numberPage; i++)
            {
<li class="page-item"><a class="page-link" href="/Children/Index?page=@i&limit=@ViewData["Limit"]&searchkey=@ViewData["SearchKey"]">@i</a></li> }


            if (pageCurrent >= numberPage)
            {
<li class="page-item disabled">
    <a class="page-link">Next</a>
</li> }
            else
            {
                i = pageCurrent + 1;
<li class="page-item">
    <a class="page-link" href="/Children/Index?page=@i&limit=@ViewData["Limit"]&searchkey=@ViewData["SearchKey"]">Next</a>
</li> } }
    </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin trẻ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="ChildrenName" class="form-label">Họ và tên:</label>
                        <input type="text" class="form-control" id="ChildrenName" name="ChildrenName" placeholder="Nhập họ và tên của trẻ">
                    </div>
                    <div class="mb-3">
                        <label for="Age" class="form-label">Tuổi:</label>
                        <input type="number" min="1" max="18" class="form-control" id="Age" name="Age" placeholder="Nhập tuổi của trẻ">
                    </div>
                    <div class="mb-3">
                        <label for="Gender" class="form-label">Giới tính:</label>
                        <select name="Gender" id="Gender" class="form-control">
                            <option value="false">Nữ</option>
                            <option value="true">Nam</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button id="save" type="button" name="" class="btn btn-primary" data-bs-dismiss="modal">Lưu Lại</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".update").click(function () {
            const ApiChildrenGetById = "http://localhost:58165/api/Children/GetChildrenById?id=" + this.id;
            console.log(ApiChildrenGetById);
            var id = this.id;
            $.ajax({
                url: ApiChildrenGetById,
                method: "GET",
                contentType: "application/json",
                success: function (children) {
                    console.log(children);
                    $("#ChildrenName").val(children.childrenName);
                    console.log("#Gender [value='" + children.gender + "']");
                    $("#Age").val(children.age);
                    $("#Gender > option").removeAttr("selected");
                    $("#Gender [value='" + children.gender + "']").attr("selected", "selected");
                    $("#save").attr("name", id);
                }
            });
        });

        $("#save").click(function () {
            const ApiChildrenUpdate = "http://localhost:58165/api/Children/UpdateChildren";
            var id = parseInt($("#save").attr("name"));
            var name = $("#ChildrenName").val();
            var age = parseInt($("#Age").val());
            var gender = JSON.parse($("#Gender").val());
            console.log(gender);
            var ChildrenNew = { "ChildrenId": id, "ChildrenName": name, "Age": age, "Gender": gender, "UpdateBy": 1 };
            console.log(ChildrenNew);
            $.ajax({
                type: "PUT",
                url: ApiChildrenUpdate,
                data: JSON.stringify(ChildrenNew),
                dataType:'json',
                contentType: "application/json",
                success: function () {
                    window.location.reload();
                }
            });
        });

        $(".delete").click(function () {
            var id = this.id;
            const ApiChildrenDelete= "http://localhost:58165/api/Children/DeleteChildren?id="+id;          
            //var ChildrenNew = { "ChildrenId": id, "ChildrenName": name, "Age": age, "Gender": true, "UpdateBy": 1 };
            if (confirm("Bạn có chắc chắn muốn xóa !!!")) {
                $.ajax({
                    type: "Delete",
                    url: ApiChildrenDelete,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function () {
                        window.location.reload();
                    }
                });
            }
        });
    });
</script>

